services:
  jupyter:
    build: .
    ports:
      - "8888:8888"
    volumes:
      - .:/app

  streamlit:
    build: .
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    command: streamlit run app/app.py --server.address 0.0.0.0
